<!doctype html>

<html>
<head>
	<title>Added friend</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="css/bootstrap-theme.css">
	<link rel="stylesheet" type="text/css" href="css/hci-friends.css">
</head>
<body>
	<a class="btn btn-default" href="/">Back to Home</a>
	<p>New friend added!</p>
</body>
</html>
